* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

.navbar{
    border: none !important;
}

.jumbotron,
.card
{
    border-radius: 0;
}

.navbar-toggler{
    border: none;
}